		/* 头部开始 */
		.head{height:80px;background:#3B80B7;}
		.logo{float:left;}
		.logo img{height:79px;}
		.head .msg{width:220px;height:100%;float:right;position:relative;margin-right:10px;}
		.msg .show{height:30px;color:#FFFFFF;font:600 12px/20px "microsoft yahei";text-align:right;padding:10px 5px 0 5px;}
		.msg .ctr{height:50px;position: relative;}
		.ctr button{position: absolute;height:30px;width:90px;background:rgb(90, 180, 245);border-radius: 5px;color:#DBF2EE;font-size:12px;}
		.ctr button span{padding-right:5px;}
		.ctr .btn1{top:10px;left:10px;}
		.ctr .btn2{right:10px;top:10px;}
		/* 头部结束 */
		
		/* 菜单开始 */
		.menu{width:18%;background:#353942; min-height: 556px; }
		.menu .title{width:100%;height:50px;border-bottom: 2px solid #3C4049;
			color:#5A606C;font:500 14px/50px "宋体";padding-left:10px;font-weight:600;}
		.list{width:100%;color:#C5C8D1;}
		.list ul li{background-color:#353942;border:solid 1px #383C45;}
		.list ul li:hover{background:#25282E;}
		.list ul li a{padding-left:10px;color:#C5C8D1;font-size:14px;display:block;font-weight:600;height:45px;line-height:45px;position:relative;text-decoration: none;}
		.list ul li .inactive{background:url(/images/off.png) no-repeat 184px center !important;}
		.list ul li .inactives{background:url(/images/on.png) no-repeat 179px center !important;background:#25282E;
			border-left:5px solid #3B80B7;color:#fff;} 
		.list ul li ul{display:none;}
		.list ul li ul li {background-color:#2C2F37;border:#2C2F37;font-weight: light;}
		.list ul li ul li ul{display:none;}
		.list ul li ul li:hover{background:#2C2F37;}
		.list ul li ul li a{padding-left:20px;font-size:12px;font-weight:400;color:rgb(162,181, 240);}
		.list ul li ul li a:hover{color:#AFB2BB;}
		.list a span{padding-right:15px;font-weight:400;}
		/* 菜单结束 */
		
		.content{width:82%;background:#f8f8f8;height:550px;overflow:auto;z-index:99;}
		/* 导航开始 */
		.content .guide{width:100%;background:#DEE8E6;min-height:36px; float:left; postion:absolute;overflow:auto;z-index:999;}
		.guide ul li{display:block;float:left;background:#DEE8E6;line-height:36px;height:36px;padding:0 30px 0 30px;
			border-right:1px solid #CED5D4;color:#5F6D6A;font-weight:700;border-radius:3px;}
		.guide ul li:hover{cursor:pointer;}
		.guide span{padding-left:10px;}
		.guide span:hover{color:#000;}
		.gactive{background-color:#E8EFEE !important;}
		.hide{display:none;}
		/* 导航结束 */

		.content .frame{width:100%;height:500px;position:relative;float:left;}

		.content .frame iframe{width:100%;height:100%;position:absolute;top:0;left:0;}

		.foot{height:60px;background:#ccc;}