<!DOCTYPE html>
<html>
<head>
	<title>查看考试信息</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
	<!-- 导入分页样式 -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/web/paging.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/web/base.css">
	<style type="text/css">
    .title{margin-top: 25px;}
	</style>
</head>
<body>
	
	<div class="title w clearfix">
	<div class="c_search clearfix">
		<div>
			<span>根据： </span>
			年份:
		</div>
		
		<div id="changeSelect">
		</div>
	</div>
</div>

	<table class="table table-hover span12" id="mytable">
	<thead>
		<tr>
			<th >课程名</th>
			<th>课程类型</th>
            <th >所属学院</th>
			<th >学分</th>
			<th >开始时间</th>
            <th >结束时间</th>
            <th >考试地点</th>
            <th >考试方式</th>
		</tr>
	</thead>
	    <tbody></tbody>
	</table>


</body>
<script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/layer/layer.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">

	$(function(){

        //页面初始化
        getYears();

        var year= $("#changeSelect select").val();
        QueryTestInfo(year);

        $("#changeSelect select").change(function(){
            var year=$(this).val();
            QueryTestInfo(year);
        })

    })

    function getYears(){
        $.ajax({
            async:false,
            type:'post',
            dataType:'json',
            url:'/student_person/getMyYears',
            success:function(data){
                if(data!=null){
                    var year=data.grade;
                    var html='<div><select class="form-control" id="getYears"><option>'+(year++)+'</option>'
                    +'<option>'+(year++)+'</option><option>'+(year++)+'</option><option>'+(year++)+'</option><option>'+(year++)+'</option>'
                    +'</select></div>'
                    $("#changeSelect").empty().append(html);
                }
            }
        })
        

    }


	//动态添加页面，查询成绩
	function QueryTestInfo(year) {
		var sendData = {
			year:year
		}
		$.ajax({
					type : "post",
					data : sendData,
					dataType : "json",
					url : "/student_person/getMytest",
					success : function(data) {
                        var list=data.test;
                        var html=''
						if (list.length > 0) {
							for (var i = 0; i < list.length; i++) {
								html += '<tr>'
								//根据课程id获取课程的信息
								$.ajax({
									data:{courseId:list[i].courseId},
									async:false,
									type:'post',
									dataType:'json',
									url:'/admin_performance/getCourseByCourseId',
									success:function(data){

										html+='<td>'+data.courseName+'</td>'+
											'<td>'+data.type+'</td>'+
											'<td>'+data.facultyName+'</td>'+
											'<td>'+data.courseNumber+'</td>'
                                            
									},error:function(data){
										parent.layer.alert("获取课程信息出错！请联系管理员！");
									}
								});//end ajax
                                html+='<td>' + list[i].starttime + '</td>' +
                                '<td>' + list[i].endtime + '</td>' +
                                '<td>' + list[i].address + '</td>' +
                                '<td>' + list[i].testtype + '</td>' +
								'</tr>';
                            

							}//end for
                            $("#mytable tbody").empty().append(html);
						} else {
                        $("#mytable tbody").empty()
						layer.msg("没有搜索到您要查看的信息");
						}
					},//end success
					error:function(){
						alert("哪儿出错了呢！");
					}
				});//end ajax
	}
	



</script>

</html>
