<!DOCTYPE html>
<html>
<head>
	<title>班级信息管理</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
	<!-- 导入分页样式 -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/web/paging.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/web/base.css">
	<style type="text/css">
		body{background:#F8F8F8;}
		.show{border:1px solid red;}
		.title{background:#fff;margin-top:25px;height:54px;border:1px solid #E7EBEB;position:relative;}
		.title .c_search{margin:10px 0 10px 25px;line-height:30px;width:600px;float:left;}
		.c_search div{float:left;margin-left:3px;}
		.c_search form-control{border-color:#EFEFEF;}
		.c_search div select{width: 150px; height: 34px;}
		.c_search .btn{background:#5AB4F5;cursor:pointer;font-weight:700;color:#fff;width:60px;}
		.title .c_new{width:100px;height:30px;float:right;margin:10px 50px 10px 0px;}
		.title .c_new .btn{background:#5AB4F5;font-weight:700;color:#fff;}
		.mytable{text-align: center;}
		/*th,td{text-align: center;}*/
		/*修改BootStrap样式*/
		.showStudentById{padding:2px 4px;}
	</style>
</head>
<body>
	
	<div class="title w clearfix">
	<div class="c_search clearfix">
		<div>
			<span>根据： </span>
			<select id="selectType">
				<option value="facultyName">学院</option>
				<option value="majorName">专业</option>
				<option value="gradeId">年级</option>
				<option value="teacherName">班主任</option>
			</select>
		</div>
		
		<div id="showChangeType">
			<select id="condition" class="form-control">
				<%for(var i in faculty){%>
					<option value="<%=faculty[i]._id%>"><%=faculty[i].facultyName%></option>
				<%}%>
			</select>
		</div>
		<div>
			<button class="btn" id="query_btn">搜索</button>
		</div>
	</div>
	<div class="c_new">
		<button class="btn" id="newProject">新建班级信息</button>
	</div>
</div>
	

	<table class="table table-hover span12" id="mytable">
	<thead>
		<tr>
			<th>学院</th>
			<th>专业</th>
			<th>年级</th>
			<th>班级</th>
			<th>班主任</th>
			<th colspan="2" style="min-width:100px;">操作</th>
		</tr>
	</thead>
	<tbody></tbody>
	</table>

		<div class="bottom">
			<div class="selectbtn">
				每页显示
				<select name="numsize" id="numsize">
					<option value="5">5</option>
					<option value="8">8</option>
					<option value="10">10</option>
					</select>
					条,共<label style="color: #85D9C8" id="total">0</label>	条
			</div>
			<div class="page ">
				<ul id="pageul">
					
				</ul>
			</div>
		</div>
<div class="modal fade" id="modifyClassInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form  class="form-horizontal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="ture">&times;</span>
					<span class="sr-only">关闭</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">请修改班级信息</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="col-xs-3 leftLabel">班主任:</label>
					<div class="col-xs-8">
						<select class="form-control" id="teacherName">
							<%for(var i in teacher){%>
								<option><%=teacher[i]%></option>
							<%}%>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="saveChanges">保存</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
			</form>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/layer/layer.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">

	$(function(){
		$("#selectType").change(function(){
			var type=$(this).val();
			var html=''
			if(type=='facultyName'){
				html+='<select id="condition" class="form-control"><%for(var i in faculty){%>'
					+'<option value="<%=faculty[i]._id%>"><%=faculty[i].facultyName%></option>'
					+'<%}%></select>'
			}else{
				html+='<input type="text"  id="condition" class="form-control">	'
			}
			$("#showChangeType").empty().append(html);
		})
		//新建班级信息
		$("#newProject").click(function(){
			location.href="/admin_class/addClass"
		});

		//每页显示多少条数据
		$("#numsize").change(function(){
			var numsize=$("#numsize").val();
			var condition=$("#condition").val();
			var type=$("#selectType").val();
			QueryClass(1,numsize,type,condition);
		});

		//查询班级信息
		$("#query_btn").click(function(){
			var numsize=$("#numsize").val();
			var type=$("#selectType").val();
			var condition=$("#condition").val();
			QueryClass(1,numsize,type,condition);
		});




	})
	//页面初始化
	QueryClass(1,5,"","");

	//动态添加页面，并实现分页
	function QueryClass(pageNum, pageSize,type,condition) {

		var sendData = {
			name : condition,
			pageNum : pageNum,
			pageSize : pageSize,
			type:type
		}
		$.ajax({
					type : "post",
					data : sendData,
					dataType : "json",
					url : "/admin_class/getClassInfo",
					success : function(data) {
						$("#total").html(data.total);
						var html = "";
						var list = data.list;
						
						if (list.length > 0) {
							for (var i = 0; i < list.length; i++) {
								html += '<tr>'
								$.ajax({
									data:{faculty:list[i].facultyName},
									async:false,
									type:'post',
									dataType:'json',
									url:'/admin_class/getFacultyById',
									success:function(data){
										html+='<td>'+data.faculty.facultyName+'</td>'
									}
								})
								html+='<td>' + list[i].majorName + '</td>' +
								'<td>' + list[i].gradeId + '</td>' +
								'<td>' + list[i].classId + '</td>' +
								'<td>' + list[i].teacherName + '</td>' +
								'<td class="col-md-3">'+
								'<a href="javascript:;"  class="modifyClassDetail" data-id="'+list[i]._id+'" >修改</a>&nbsp;|&nbsp;'+
								'<a href="javascript:;" style="color:#D9534F" data-id="'+list[i]._id+'"  class="deleteClass">删除</a>&nbsp;|&nbsp;'+
								'<button type="button" class="showStudentById btn btn-info" data-id="'+list[i]._id+'">查看本班学生</button></td>'+
								'</tr>';
							}//end for
						} else {
						layer.msg("没有搜索到您要查看的信息");
						}
						// 分页标签
						if (list.length > 0) {
							var html2 = "<li><button style='width:60px;text-align: center' id='prepage'>上一页</button>"
									+ "</li><li id='firstPage'><button>1</button></li>";
							
							for (var i = 1; i < data.pages; i++) {
								html2 += '<li id=btn' + (i + 1) + '><button>'
										+ (i + 1) + '</button></li>';
							}
							
							html2 += '<li><button style="width:60px;text-align: center" id="nextpage">下一页</button></li>';
						}

						$("#pageul").empty().append(html2);
						$("#mytable tbody").empty().append(html);

						//修改班级详细信息
						$(".modifyClassDetail").click(function(){
							var id=$(this).data("id");
							$("#teacherName").attr("data-id",id);
							$("#modifyClassInfoModal").modal('show');
						});
						$("#saveChanges").click(function(){
							var sData={classId:$("#teacherName").attr("data-id"),teacherName:$("#teacherName").val()}
							$.ajax({
								data:sData,
								type:'post',
								dataType:'json',
								url:'/admin_class/doModifyClass',
								success:function(data){
									if(data.msg=='error'){
										parent.layer.msg('修改班级失败~');
									}else{
										parent.layer.msg('修改班级成功~');
										location.reload();
									}
								}
							})
						})
						//删除班级信息
						$(".deleteClass").click(function(){
							var sendData={
								id:$(this).data("id")
							}
							$.ajax({
								type:'post',
								dataType:'json',
								url:"/admin_class/deleteClassInfo",
								data:sendData,
								success:function(data){
									if(data.msg=='success'){
										layer.msg('删除成功');
										QueryClass(1, pageSize,type,condition);
									}else{
										layer.msg('删除失败');
									}
								},error:function(data){
									layer.alert('删除失败');
								}
							})//end ajax	
						});//end delete
						/**查看班级学生信息 */
						$(".showStudentById").click(function(){
							var id=$(this).data("id");
							location.href='/admin_class/showStudentInfoById/'+id;
						})

						//上一页
						$("#prepage").off().click(function() {
									if (data.isFirstPage == true) {

									layer.msg("当前已是首页");
									} else {
										QueryClass(data.pageNum - 1,
												data.pageSize,type, condition);
									}
								});

						//下一页
						$("#nextpage").off().click(function() {
									if (data.isLastPage == true) {
										layer.msg("当前已是尾页");
									} else {
										QueryClass(data.pageNum + 1,
												data.pageSize,type, condition);
									}
								});
						//第一页
						$("#firstPage").off().click(function() {
							if (data.isFirstPage == true) {
								layer.msg("当前已是首页");
							} else {
								QueryClass(1, data.pageSize,type, condition);
							}
						});
						//2,3,4..... 注意闭包问题
						for (var i = 1; i < data.pages; i++) {
							(function(arg) {
								$("#btn" + (arg)).off().click(function() {
									QueryClass(arg, data.pageSize,type, condition);
								});
							})(i + 1);
						}

					},//end success
					error:function(){
						alert("哪儿出错了呢！");
					}
				});//end ajax
	}
	



</script>

</html>
