<!DOCTYPE html>
<html>
<head>
	<title>学生信息管理</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
	<!-- 导入分页样式 -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/web/paging.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/web/base.css">
	<style type="text/css">
	caption{
		text-align: center;
		font-size: 20px;
		font-weight: 700;
		margin-top:20px;
	}
	</style>
</head>
<body>
	
	<table class="table table-hover span12" id="mytable">
		<caption></caption>
	<thead>
		<tr>
			<th>学号</th>	
			<th>姓名</th>
			<th>性别</th>
			<th>身份证</th>
			<th>出生日期</th>
			<th>政治面貌</th>
			<th>家庭住址</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>

		
	</tbody>
	</table>
		
<input type="hidden" value="<%=hiddenId%>" id="classId">
</body>
<script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/layer/layer.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">

	$(function(){

	//页面初始化
	QueryStudent($("#classId").val());

	//动态添加页面，并实现分页
	function QueryStudent(classId) {
		$.ajax({
			type : "post",
			data : {classId:classId},
			dataType : "json",
			url : "/admin_class/getStudentInfoByClass",
			success : function(data) {
				var html = "";
				var list = data.list;
				if (list.length > 0) {
					var classes=data.classes;
					var html2='<div>'+classes.facultyName+classes.gradeId+'级'+classes.majorName+classes.classId+'班'
					for (var i = 0; i < list.length; i++) {
						html += '<tr>' + 
						'<td>' + list[i].studentId + '</td>' +
						'<td>' + list[i].name + '</td>' +
						'<td>' + list[i].gender + '</td>' +
						'<td>' + list[i].IdCard + '</td>' +
						'<td>' + list[i].birthday + '</td>' +
						'<td>' + list[i].politicalLandscape + '</td>' +
						'<td>' + list[i].familyAddress + '</td>' +
						'<td class="col-md-1">'+
						'<a href="javascript:;"  class="showStudentDetail" data-id="'+list[i].studentId+'">详情</a>&nbsp;|&nbsp;'+
						'<a href="javascript:;" style="color:#D9534F" data-id="'+list[i].studentId+'" class="deleteStudent">删除</a></td>'+
						'</tr>';
					}//end for
					$("caption").empty().append(html2);
				} else {
				layer.msg("没有搜索到您要查看的信息");
				}
				$("#mytable tbody").empty().append(html);

				//显示学生详细信息
				$(".showStudentDetail").click(function(){
					var id=$(this).data("id");
					location.href="/admin_class/showStudentDetail/"+id;
				});

				//删除学生信息
				$(".deleteStudent").click(function(){
					var id=$(this).data("id");
					$.ajax({
						data:{id:id},
						type:'post',
						dataType:'json',
						url:'/admin_class/deleteStudent',
						success:function(data){
							var msg=data.msg;
							if(msg=='success'){
								parent.layer.msg('删除成功');
								location.reload();
							}
						}
					})
				})


			},//end success
			error:function(){
				alert("哪儿出错了呢！");
			}
		});//end ajax
	}
});
	



</script>

</html>
