<!doctype html>
<html>
<head>
<title>主页</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/web/base.css"> 
<link rel="stylesheet" href="/stylesheets/web/index.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="/bootstrap/css/metisMenu.min.css">
<link rel="stylesheet" href="/bootstrap/css/index.css">
<link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css">
</head>
<body>

	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <!--顶部导航栏-->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Spider爬虫统计管理平台</a>
    </div>

	<ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a>欢迎您&nbsp;&nbsp;&nbsp;&nbsp;<strong>
            <%=result[0].role %> : <%= result[0].name %>
            </strong></a>
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-searchUser fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-searchUser">
                <li><a href="<@spring.url '/logout' />"><i class="fa fa-sign-out fa-fw"></i>退出系统</a>
                </li>
            </ul>
            <!-- /.dropdown-searchUser -->
        </li>
        <!-- /.dropdown -->
    </ul>
  
  <!--左侧导向栏-->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
            	 <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>&nbsp;学生信息管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
							<a href="/admin_student/studentInfo"><span>O</span>学生信息管理</a>
						</li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
				<li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>&nbsp;教师信息管理<span class="fa arrow"></span></a>

                    <ul class="nav nav-second-level">
                        <li>
                            <li><a href="/admin_teacher/getTeacher"><span>O</span>教师信息管理</a></li>
                        </li>
                    </ul>
				</li>
            </ul>
        </div>
    </div>

	
	<script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="/layer/layer.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/web/index.js"></script>
	<script type="text/javascript">

	</script> 
</body>
</html>