<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/web/base.css">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrapValidator.min.css" />
<style type="text/css">
.btn-theme{
	background:#5AB4F5;
	font-weight:700 !important;
	color:#fff;
}
.btn-theme-cancel{
	background:#D9534F;
	font-weight:700 !important;
	color:#fff;
}
.leftLabel {
    text-align: right;
    line-height: 34px;
}
</style>
</head>

<body>
	<div class="container" style="margin-top:4%;">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form action="/admin_present/doAddFaculty" method="post" class="form-horizontal" role="form" id="addFaculties">
					<div class="form-group">
						<label class="col-md-3 leftLabel">名称：</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="facultyName">
						</div>
					</div>
					<!--end form-group-->
					<div class="form-group">
						<label class="col-md-3 leftLabel">类别：</label>
						<div class="col-md-8">
							<select class="form-control" name="type" id="selectType">
								<option value="">--请选择添加类别--</option>
								<option value="faculty">学院</option>
								<option value="department">系</option>
							</select>
						</div>
					</div>

				<div class="form-group">
					<label class="col-md-5"></label>
					<input type="submit" class="btn btn-theme" value="提交" >
					<input type="button" class="btn btn-theme-cancel" value="返回" id="back">
				</div>
				</form>
				<!--end form-->
			</div>
		</div>
	</div> 
<!--end container-->


<script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/layer/layer.js"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrapValidator.min.js?v=1.1"></script>
<script type="text/javascript">

$(function(){
	$("#back").click(function(){
		location.href="/admin_present/getFacultyInfo"
	})

	$("#addFaculties").bootstrapValidator({
            message: '信息有误',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            live: "disabled",
            fields: {
                
                facultyName: {
                    validators: {
                        notEmpty: {
                            message: '名称不能为空'
                        }
                    }
                },//end facultyName
				type:{
					validators:{
						notEmpty:{
							message:'请选择类别'
						}
					}
				}//end type

            }//end fields
        });//end boostrapValidater
});//end function



</script>

</body>

</html>