<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>新建课程</title>
	    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrapValidator.min.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/web/base.css">
        <style type="text/css">
        /*#changeCourseNumber{
            margin-left:-20px;
            
        }*/
        </style>
        
    </head>
    <body>
        <div class="container" style="margin-top:4%;">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form role="form" action="/admin_course/doAddCourse" class="form-horizontal" method="post">
                        <div class="form-group">
                            <label class="col-md-3 leftLabel">课程名称:</label>
                            <div class="col-md-8">
                                <input class="form-control" name="courseName">
                            </div>
                        </div>
                        <!--end group-->
                        <div class="form-group">
                            <label class="col-md-3 leftLabel">开始周次:</label>
                            <div class="col-md-8">
                                <select class="form-control" name="startweek">
                                    <option> 1</option><option> 2</option><option> 3</option>
                                    <option> 4</option><option> 5</option><option> 6</option>
                                    <option> 7</option><option> 8</option><option> 9</option>
                                    <option> 10</option><option> 11</option><option> 12</option>
                                    <option> 13</option><option> 14</option><option> 15</option>
                                    <option> 16</option><option> 17</option><option> 18</option>
                                    <option> 19</option><option> 20</option><option> 21</option>
                                </select>
                            </div>
                        </div>
                        <!--end group-->
                        <div class="form-group">
                            <label class="col-md-3 leftLabel">结束周次:</label>
                            <div class="col-md-8">
                                <select class="form-control" name="endweek">
                                    <option> 1</option><option> 2</option><option> 3</option>
                                    <option> 4</option><option> 5</option><option> 6</option>
                                    <option> 7</option><option> 8</option><option> 9</option>
                                    <option> 10</option><option> 11</option><option> 12</option>
                                    <option> 13</option><option> 14</option><option> 15</option>
                                    <option> 16</option><option> 17</option><option> 18</option>
                                    <option> 19</option><option selected> 20</option><option> 21</option>
                                </select>
                            </div>
                        </div>
                        <!--end group-->
                        <div class="form-group">
                            <label class="col-md-3 leftLabel">周次:</label>
                            <div class="col-md-8">
                                <select class="form-control" name="frequency">
                                    <option> 1</option><option selected> 2</option><option> 3</option>
                                    <option> 4</option>
                                </select>
                            </div>
                        </div>
                        <!--end group-->
                        <div class="form-group">
                            <label class="col-md-3 leftLabel">课程类型:</label>
                            <div class="col-md-8">
                                <select class="form-control" name="type">
                                    <option value="" >--请选择课程类型--</option>
                                    <option value="校级选修课">校级选修课</option>
                                    <option value="校级必修课">校级必修课</option>
                                    <option value="校级公共课">校级公共课</option>
                                    <option value="专业选修课">专业选修课</option>
                                    <option value="专业必修课">专业必修课</option>

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 leftLabel">所属学院:</label>
                            <div class="col-md-8">
                                <select class="form-control" name="facultyName">
                                    <!--学院选择-->
                                    <% for(i in data){%>
                                    <option value="<%=data[i].facultyName%>"><%=data[i].facultyName%></option>
                                    <%}%>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label class="col-md-3 leftLabel">所修学分:</label>
                            <div class="col-md-6" id="selectInput" >
                                <select class="form-control" name="courseNumber" style="display:block" id="selectCourse">
                                    <option value="0.5">0.5</option>
                                    <option value="1">1</option>
                                    <option value="1.5">1.5</option>
                                    <option value="2">2</option>
                                    <option value=3>3</option>
                                    <option value="3.5">3.5</option>
                                    <option value="4">4</option>
                                    <option value="4.5">4.5</option>
                                    <option value="5">5</option>
                                </select>
                                <input class="form-control" name="courseNumber"  style="display:none" disabled id="inputCourse">
                            </div>
                            
                            <div id="changeInput">
                                <button class="btn btn-info" type="button" id="inputCourseNumber">手动输入</button>
                            </div>
                        </div>
                        <!--end group-->
                             

                        <div class="form-group">
                            <label class="col-md-5"></label>
					        <input type="submit" class="btn btn-theme" value="提交" id="submitBtn" >
					        <input type="button" class="btn btn-theme-cancel" value="返回" id="back">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        
        <script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
        <script type="text/javascript" src="/layer/layer.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrapValidator.min.js?v=1.0"></script>
        <script type="text/javascript">
 $(function(){
     $("#inputCourseNumber").click(function(){
         if($("#selectCourse").css('display')=='block'){
             $("#selectCourse").css({display:'none'});
             $("#inputCourse").css({display:'block'});
             $("#inputCourse").attr('disabled',false);
             $("#selectCourse").attr('disabled',true);
             $(this).text('下拉选项');
         }else if($("#inputCourse").css('display')=='block'){
             $("#selectCourse").css({display:'block'});
             $("#inputCourse").css({display:'none'});
             $("#inputCourse").attr('disabled',true);
             $("#selectCourse").attr('disabled',false);
             $(this).text('手动输入');
         }
     });
     $("#back").click(function(){
         location.href='/admin_course/getCourse'
     });

    //bootstrap校验
	$(".form-horizontal").bootstrapValidator({
            message: '信息有误',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            live: "disabled",
            fields: {
                courseName: {
                    message: '课程名称填写错误!',
                    validators: {
                        notEmpty: {
                            message: '课程名称不能为空'
                        },
                        stringLength:{
                            min:1,
                            max:20,
                            message:'课程名称字数最多应该在10个字左右'
                        }
                    }
                },
                type: {
                    validators: {
                        notEmpty: {
                            message: '类型不能为空'
                        },
                    }
                },
				facultyName: {
                    validators: {
                        notEmpty: {
                            message: '学院名称不能为空'
                        }
                    }
                },
				selectNumber:{
					validators:{
                        message: '学分填写错误!',
						notEmpty:{
							message:'学分不能为空'
						},
                        regexp: {
                            regexp: /^[0-9]+\.{0,1}[0-9]*$/,
                            message: '学分只能由数字组成'
                        }
					}
				},
                inputNumber:{
                    validators:{
                        message: '学分填写错误!',
						notEmpty:{
							message:'学分不能为空'
						},
                        regexp: {
                            regexp: /^[0-9]+\.{0,1}[0-9]*$/,
                            message: '学分只能由数字组成'
                        }
					}
                }
            }
        });//end validator


    });
        </script>
    </body>