<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
<!--<link rel="stylesheet" type="text/css" href="/stylesheets/web/base.css">-->
<style type="text/css">
.btn-theme{
	background:#5AB4F5;
	font-weight:700 !important;
	color:#fff;
}
.btn-theme-cancel{
	background:#D9534F;
	font-weight:700 !important;
	color:#fff;
}
input[type="text"],.showInfo{
	width:90%;
	min-width:120px;
}
.tdwidth{
	min-width:120px;
	max-width:150px;
}
.imgs{
	width:150px;
	height:80%;
}
</style>
</head>

<body>
<div align="center" style=" margin-left:2%; margin-right:2%;">
<form action="doAddStudent" method="post" enctype="multipart/form-data">
<table class="table table-bordered">

<tr >
	<td  class="tdwidth">学号：</td>
	<td ><input type="text" name="studentId" ></td>
	<td  class="tdwidth">身份证号：</td>
	<td><input type="text" name="IdCard"></td>
	<td  class="tdwidth">电话号码：</td>
	<td><input type="text" name="phoneNo"></td>

	<td rowspan="5" style="width:180px;" align="center" valign="middle">
		<img src="/images/default_head.jpg"  class="imgs"><br>
		<span>请添加照片！</span>
	</td>
</tr>

<tr>
	<td>姓名：</td>
	<td><input type="text" name="name"></td>
	<td>曾用名：</td>
	<td><input type="text" name="usedname"></td>
	<td>性别</td>
	<td ><input type="radio" name="gender" value="男" checked="checked" />男
		 <input type="radio" name="gender" value="女"/>女
	</td>
</tr>

<tr >
	<td >出生年月：</td>
	<td id="selectBir">
		<select id="year" style="width:37%;"></select>
		<select id="month" style="width:24%;"></select>
		<select id="day" style="width:24%;"></select>
	</td>
	<td>来源高中：</td>
	<td><input type="text" name="originSchool"></ins></td>
	<td>政治面貌：</td>
	<td><select name="politicalLandscape" class="showInfo">
			<option>群众</option><option>少先队员</option><option>共青团员</option>
			<option>预备党员</option><option>党员</option>
		</select></td>
</tr>

<tr >
	<td >父亲：</td>
	<td ><input type="text" name="fatherName"></td>
	<td>父亲电话：</td>
	<td><input type="text" name="fatherPhone"></td>
	<td>家庭住址：</td>
	<td><input type="text" name="familyAddress"></td>
</tr>

<tr >
	<td >母亲：</td>
	<td ><input type="text" name="motherName"></td>
	<td>母亲电话：</td>
	<td><input type="text" name="motherPhone"></td>
	<td >邮编：</td>
	<td ><input type="text" name="postCode"></td>
</tr>

<tr >
	<td >所属学院：</td>
	<td ><select name="faculty" class="showInfo" id="facultyInfo">
			<option>--请选择学院--</option>
			<%for(var i in faculty){%>
			<option value="<%=faculty[i]._id%>"><%=faculty[i].facultyName%></option>
			<%}%>
		</select>	
	</td>
	<td>所修专业：</td>
	<td><select id="majorSelect" name="major" class="showInfo"><option>--请先选择学院--</option></select></td>
	<td>所属年级：</td>
	<td><select id="chooseGrade" name="gradeId" class="showInfo"><option>--请先选择学院--</option></select></td>
	<td style="width:150px;"><input type="file"  name="studentphoto" multiple="multiple" style="width:80%;"></td>
</tr>
</tr>

<tr >
	<td >所属班级：</td>
	<td ><select id="classSelect" name="classId" class="showInfo"><option>--请先选择学院--</option></select></td>
	<td>学制：</td>
	<td><input type="text" name="studyYear"></td>
	<td>考生号：</td>
	<td><input type="text" name="candidateNo"></ins></td>
</tr>
<tr>
	<td>准考证号：</td>
	<td><input type="text" name="ticketNo"></td>
	<td>学历层次：</td>
	<td><input type="text" name="education"></td>
</tr>
</table>

<input type="submit" class="btn btn-theme" value="提交" id="submit" >
<input type="button" class="btn btn-theme-cancel" value="返回" id="back">

</form>
</div>

<script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/layer/layer.js"></script>
<script type="text/javascript" src="/javascripts/web/date.js"></script>


<script type="text/javascript">

addBirthday();
function addBirthday(){

	var years='';
	var months='';
	var days='';

	var date=new Date();
	var year=date.getFullYear();
	var month=date.getMonth()+1;
	var day=date.getDate();

	for(var i=1900;i<=2150;i++){
		if(i==year){
			years+='<option  value='+i+' selected>'+i+'</option>'
		}else{
			years+='<option  value='+i+'>'+i+'</option>'
		}
	}//end for of year
	$("#year").empty().append(years);
	
	for(var i=1;i<=12;i++){
		if(i==month){
			months+='<option  value='+i+' selected>'+i+'</option>'
		}else{
			months+='<option  value='+i+'>'+i+'</option>'
		}
	}//end for of month
	$("#month").empty().append(months);
	//日期因为有28日，29日，30日，31日之分，所以写在公用方法里面，方便调用
	//设置时间的方法，减少代码重用
	setDays(year,month,day);

}//end function

//当界面时间出现了改变后
function selectChange(){
 var year =$("#year").val();
 var month=$("#month").val();
 var day=$("#day").val();
 setDays(year,month,day);
}

$(function(){
	
	//选择学院后，动态加载专业
	$("#facultyInfo").change(function(){
		const faculty=$("#facultyInfo").val();
		$.ajax({
			data:{id:faculty},
			type:'post',
			dataType:'json',
			url:'/admin_arrangement/getGradeByFaculty',
			success:function(data){
				var html='',list=data.list;
				for(var i in list){
					html+='<option value="'+list[i]+'">'+list[i]+'</option>';
				}
				$("#chooseGrade").empty().append(html);
                var grade=$("#chooseGrade").val();
                getMajor(faculty,grade);
                
			},error:function(data){
				 parent.layer.msg("年级加载失败");
			}
		});//end ajax
	});//end facultyInfo change

    $("#chooseGrade").change(function(){
        var grade=$(this).val();
        var faculty=$("#facultyInfo").val();
        getMajor(faculty,grade);
    });

    $("#majorSelect").change(function(){
         var faculty=$("#facultyInfo").val();
         var grade=$("#chooseGrade").val();
         var major=$(this).val();
         getClass(faculty,major,grade);
    });







	$("#back").click(function(){
		location.href='/admin_student/studentInfo';
	});
	$("#year").change(function(){
		 selectChange();
	});
	$("#month").change(function(){
		 selectChange();
	});
	// before submit
	$("form").submit(function(){
		var year=$("#year").val();
		var month=$("#month").val();
		var day=$("#day").val();
		var html='<input type="hidden" name="birthday" value='+year+'-'+month+'-'+day+'> ';
		$("#selectBir").append(html);
	});
})

function getMajor(faculty,grade){
         $.ajax({
            data:{grade:grade,faculty:faculty},
            type:'post',
            dataType:'json',
            url:'/admin_arrangement/getMajorByGrade',
            success:function(data){
                var html='',list=data.list;
				for(var i in list){
					html+='<option value="'+list[i]+'">'+list[i]+'</option>';
				}
				$("#majorSelect").empty().append(html);
                var major=$("#majorSelect").val();
                getClass(faculty,major,grade);
            },error:function(){
                parent.layer.msg("加载专业失败");
            }
        })
    }

    /**
     * 获取班级信息
     */
    function getClass(faculty,major,grade){
        $.ajax({
             data:{faculty:faculty,grade:grade,major:major},
             async:false,
             type:'post',
             dataType:'json',
             url:'/admin_arrangement/getClassByMajor',
             success:function(data){
                var html='',list=data.list;
				for(var i in list){
					html+='<option value="'+list[i]+'">'+list[i]+'</option>';
				}
				$("#classSelect").empty().append(html);
            },error:function(){
                parent.layer.msg("加载班级失败");
            }
        })
    }


</script>

</body>

</html>