<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
<!--<link rel="stylesheet" type="text/css" href="/stylesheets/web/base.css">-->
<style type="text/css">
.btn-theme{
	background:#5AB4F5;
	font-weight:700 !important;
	color:#fff;
}
.btn-theme-cancel{
	background:#D9534F;
	font-weight:700 !important;
	color:#fff;
}

#showstudentId{
	border: none;
}
input[type="file"]{
	width:100px;
}
input[type="text"]{
	width:90%;
	min-width:120px;
}
.tdwidth{
	min-width:120px;
	max-width:150px;
}
.imgs{
	width:150px;
	height:190px;
}

</style>

</head>

<body>
<div align="center" style=" margin-left:2%; margin-right:2%;">
<form action="/admin_student/doModifyStudentInfo" method="post" enctype="multipart/form-data">
<table class="table table-bordered">

<tr>
	<td class="tdwidth">学号：</td>
	<td ><input id="showstudentId" type="text" name="studentId" value="<%=studentInfo[0].studentId%>" readonly /></td>
	<td class="tdwidth">身份证号：</td>
	<td><input type="text" name="IdCard" value="<%=studentInfo[0].IdCard%>"/></td>
	<td class="tdwidth">电话号码：</td>
	<td><input type="text" name="phoneNo" value="<%=studentInfo[0].phoneNo%>"/></td>
	<%if(studentInfo[0].studentPhoto){%>
	<td rowspan="5"  style="width:180px;" align="center" valign="middle" text-align="center">
		<img src="../../uploadimages/students/<%=studentInfo[0].studentPhoto%>"  class="imgs" >
		请选择照片
	</td>
	<%}else{%>
	<td rowspan="5"  style="width:180px;" align="center" valign="middle" >
		<img src="../../images/default_head.jpg" class="imgs">请选择照片</td>
	<%}%>
</tr>

<tr>
	<td>姓名：</td>
	<td><input type="text" name="name" value="<%=studentInfo[0].name%>"/></td>
	<td>曾用名：</td>
	<td><input type="text" name="usedname" value="<%=studentInfo[0].usedname%>"/></td>
	<td>性别</td>
	<td>
		<% if(studentInfo[0].gender=='女'){%>
		<input type="radio" name="gender" value="男"/>男
		<input type="radio" name="gender" value="女" checked="checked" />女
		 <%}%>

		<% if(studentInfo[0].gender=='男'){%>
		<input type="radio" name="gender" value="男" checked="checked" />男
		<input type="radio" name="gender" value="女"/>女
		 <%}%>
	</td>
</tr>

<tr >
	<td >出生年月：</td>
	<td id="selectBir">
		<select id="year" style="width:37%;"></select>
		<select id="month" style="width:24%;"></select>
		<select id="day" style="width:24%;"></select>
	</td>
	<td>来源高中：</td>
	<td><input type="text" name="originSchool" value="<%=studentInfo[0].originSchool%>"/></td>
	<td>政治面貌：</td>
	<td><input type="text" name="politicalLandscape" value="<%=studentInfo[0].politicalLandscape%>"/></td>
</tr>

<tr >
	<td >父亲：</td>
	<td ><input type="text" name="familyName" value="<%=studentInfo[0].fatherName%>"/></td>
	<td>父亲电话：</td>
	<td><input type="text" name="familyPhone" value="<%=studentInfo[0].fatherPhone%>"/></td>
	<td>家庭住址：</td>
	<td><input type="text" name="familyAddress" value="<%=studentInfo[0].familyAddress%>"/></td>
</tr>
<tr>
	<td >母亲：</td>
	<td ><input type="text" name="familyName" value="<%=studentInfo[0].motherName%>"/></td>
	<td>母亲电话：</td>
	<td><input type="text" name="familyPhone" value="<%=studentInfo[0].motherPhone%>"/></td>
	<td >家庭邮编：</td>
	<td ><input type="text" name="postCode" value="<%=studentInfo[0].postCode%>"/></td>
</tr>
<tr >
	<td >所属学院：</td>
	<td ><input type="text" name="faculty" value="<%=studentInfo[0].faculty%>"/></td>
	<td >所属系别：</td>
	<td ><input type="text" name="department" value="<%=studentInfo[0].department%>"/></td>
	<td>所修专业：</td>
	<td><input type="text" name="major" value="<%=studentInfo[0].major%>"/></td>
		<!--上传图片按钮-->
	<td><input type="file" name="studentphoto" multiple="multiple" /></td>
</tr>

<tr >
	<td>所属年级：</td>
	<td><input type="text" name="gradeId" value="<%=studentInfo[0].gradeId%>"/></td>
	<td>所属班级：</td>
	<td><input type="text" name="classId" value="<%=studentInfo[0].classId%>"/></td>
	<td>考生号：</td>
	<td><input type="text" name="IdcandidateNoCard" value="<%=studentInfo[0].candidateNo%>"/></td>


</tr>
</tr>

<tr >

	<td>学制：</td>
	<td><input type="text" name="studyYear" value="<%=studentInfo[0].studyYear%>"/></td>
	<td>准考证号：</td>
	<td><input type="text" name="ticketNo" value="<%=studentInfo[0].ticketNo%>"/></td>
	<td>学历层次：</td>
	<td><input type="text" name="education" value="<%=studentInfo[0].education%>"/></td>
</tr>
</table>

<input type="submit" class="btn btn-theme" value="保存" id="modify" >
<input type="button" class="btn btn-theme-cancel" value="返回" id="back">

</form>
</div>

<input type="hidden" id="getBirthday" value="<%=studentInfo[0].birthday%>">

<script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/layer/layer.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/web/date.js"></script>
<script type="text/javascript">

addBirthday();
function addBirthday(){
	var getBirthday=$("#getBirthday").val();
	var arr=new Array();
	arr=getBirthday.split("-");
	var years='';
	var months='';
	var days='';

	var year=arr[0];
	var month=arr[1];
	var day=arr[2];

	for(var i=1900;i<=2150;i++){
		if(i==year){
			years+='<option  value='+i+' selected>'+i+'</option>'
		}else{
			years+='<option  value='+i+'>'+i+'</option>'
		}
	}//end for of year
	$("#year").empty().append(years);
	
	for(var i=1;i<=12;i++){
		if(i==month){
			months+='<option  value='+i+' selected>'+i+'</option>'
		}else{
			months+='<option  value='+i+'>'+i+'</option>'
		}
	}//end for of month
	$("#month").empty().append(months);
	//日期因为有28日，29日，30日，31日之分，所以写在公用方法里面，方便调用
	//设置时间的方法，减少代码重用
	setDays(year,month,day);

}//end function

//当界面时间出现了改变后
function selectChange(){
 var year =$("#year").val();
 var month=$("#month").val();
 var day=$("#day").val();
 console.log(year+','+month+','+day);
 setDays(year,month,day);
}

$(function(){
	$("#year").change(function(){
		 selectChange();
	});
	$("#month").change(function(){
		 selectChange();
	});
	// before submit
	$("form").submit(function(){
		var year=$("#year").val();
		var month=$("#month").val();
		var day=$("#day").val();
		var html='<input type="hidden" name="birthday" value='+year+'-'+month+'-'+day+'> ';
		$("#selectBir").append(html);
	});

	$("#back").click(function(){
		var studentId=$("input[name='studentId']").val();
		location.href="/admin_student/showStudentDetail/"+studentId;
	});
})


</script>

</body>

</html>