<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/web/base.css">

<style type="text/css">

/*td {
	width:200 !important;
}*/
.tdwidth{
	min-width:120px;
	max-width:150px;
}
.imgs{
	width:125px;
	height:165px;
}
</style>

</head>

<body>
<div align="center" style=" margin-left:2%; margin-right:2%;">
<form action="doAddStudent" method="post" >
<table class="table table-bordered">

<tr>
	<td class="tdwidth">学号：</td>
	<td > <%=studentInfo[0].studentId%></td>
	<td   class="tdwidth">身份证号：</td>
	<td><%=studentInfo[0].IdCard%></td>
	<td   class="tdwidth">电话号码：</td>
	<td><%=studentInfo[0].phoneNo%></td>
	<!--学生个人照片-->
	<%if(studentInfo[0].studentPhoto){%>
	<td rowspan="5" style="width:180px;"  align="center" valign="middle"><img src="/uploadimages/students/<%=studentInfo[0].studentPhoto%>" class="imgs"></td>
	<%}else{%>
	<td rowspan="5" style="width:180px;" align="center" valign="middle"><img src="/images/default_head.jpg"  class="imgs"></td>
	<%}%>
	</tr>

<tr>
	<td>姓名：</td>
	<td><%=studentInfo[0].name%></td>
	<td>曾用名：</td>
	<td><%=studentInfo[0].usedname%></td>
	<td>性别：</td>
	<td>
		<% if(studentInfo[0].gender=='女'){%>
		<input type="radio" name="gender" value="男"/>男
		<input type="radio" name="gender" value="女" checked="checked" />女
		 <%}%>

		<% if(studentInfo[0].gender=='男'){%>
		<input type="radio" name="gender" value="男" checked="checked" />男
		<input type="radio" name="gender" value="女"/>女
		 <%}%>
	</td>
</tr>

<tr >
	<td >出生年月：</td>
	<td ><%=studentInfo[0].birthday%></td>
	<td>来源高中：</td>
	<td><%=studentInfo[0].originSchool%></td>
	<td>政治面貌：</td>
	<td><%=studentInfo[0].politicalLandscape%></td>
</tr>

<tr >
	<td >父亲：</td>
	<td ><%=studentInfo[0].fatherName%></td>
	<td>父亲电话：</td>
	<td><%=studentInfo[0].fatherPhone%></td>
	<td>家庭住址：</td>
	<td><%=studentInfo[0].familyAddress%></td>
</tr>

<tr >
	<td >母亲：</td>
	<td ><%=studentInfo[0].motherName%></td>
	<td>母亲电话：</td>
	<td><%=studentInfo[0].motherPhone%></td>
	<td >家庭邮编：</td>
	<td ><%=studentInfo[0].postCode%></td>
	
</tr>

<tr >
	<td >所属学院：</td>
	<td ><%=studentInfo[0].faculty%></td>
	<td> 所属系别：</td>
	<td> <%=studentInfo[0].department%></td>
	<td>所修专业：</td>
	<td><%=studentInfo[0].major%></td>
</tr>
</tr>

<tr >
	<td>所属年级：</td>
	<td><%=studentInfo[0].gradeId%></td>
	<td >所属班级：</td>
	<td ><%=studentInfo[0].classId%></td>
	<td>考生号：</td>
	<td><%=studentInfo[0].candidateNo%></td>
	
</tr>
<tr>
	<td>学制：</td>
	<td><%=studentInfo[0].studyYear%></td>
	<td>准考证号：</td>
	<td><%=studentInfo[0].ticketNo%></td>
	<td>学历层次：</td>
	<td><%=studentInfo[0].education%></td>
</tr>
</table>

<input type="button" class="btn btn-theme" value="修改" id="modify" >
<input type="button" class="btn btn-theme-cancel" value="返回" id="back">

</form>
</div>
<%if(message !=null){%>
<input type="hidden" id="getMessage" value="<%=message%>">
<%}%>
<script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/layer/layer.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
var message=$("#getMessage").val();
if (message!=null &&message!=''){
	layer.msg(message);
}


$(function(){
	// $("form").submit(function(){
	// 	parent.layer.alert("我要提交了！");
	// })
	$("#back").click(function(){
		location.href='/admin_student/studentInfo';
	});
	$("#modify").click(function(){
		var id = <%=studentInfo[0].studentId%>;
		location.href="/admin_student/modifyStudentInfo/"+id;
	})
});



</script>

</body>

</html>