<!DOCTYPE html>
<html>
<head>
	<title>学生信息管理</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
	<!-- 导入分页样式 -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/web/paging.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/web/base.css">
	<style type="text/css">
		body{background:#F8F8F8;}
		.show{border:1px solid red;}
		.title{background:#fff;margin-top:25px;height:54px;border:1px solid #E7EBEB;position:relative;}
		.title .c_search{margin:10px 0 10px 25px;line-height:30px;width:600px;float:left;}
		.c_search div{float:left;margin-left:3px;}
		.c_search form-control{border-color:#EFEFEF;}
		.c_search div select{width: 150px; height: 34px;}
		.c_search .btn{background:#5AB4F5;cursor:pointer;font-weight:700;color:#fff;width:60px;}
		.title .c_new{width:100px;height:30px;float:right;margin:10px 50px 10px 0px;}
		.title .c_new .btn{background:#5AB4F5;font-weight:700;color:#fff;}
		.mytable{text-align: center;}

	</style>
</head>
<body>
	
	<div class="title w clearfix">
	<div class="c_search clearfix">
		<div>
			<span>根据： </span>
			<select id="selectType">
				<option value="studentId">学号</option>
				<option value="name">姓名</option>
				<option value="faculty">学院</option>
				<option value="gradeId">年级</option>
				<option value="major">专业</option>
				<option value="classId">班级</option>
			</select>
		</div>
		
		<div>
			<input type="text" name="search" id="condition" class="form-control">		
		</div>
		<div>
			<button class="btn" id="query_btn">搜索</button>
		</div>
	</div>
	<div class="c_new">
		<button class="btn" id="newProject">新建学生信息</button>
	</div>
</div>
	

	<table class="table table-hover span12" id="mytable">
	<thead>
		<tr>
			<th>学号</th>	
			<th>姓名</th>
			<th>性别</th>
			<th>学院</th>
			<th>年级</th>
			<th>专业</th>
			<th>班级</th>
			<th colspan="2" style="min-width:100px;">操作</th>
		</tr>
	</thead>
	<tbody></tbody>
	</table>

		<div class="bottom">
			<div class="selectbtn">
				每页显示
				<select name="numsize" id="numsize">
					<option value="5">5</option>
					<option value="8">8</option>
					<option value="10">10</option>
					</select>
					条,共<label style="color: #85D9C8" id="total">0</label>	条
			</div>
			<div class="page ">
				<ul id="pageul">
					
				</ul>
			</div>
		</div>

</body>
<script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/layer/layer.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">

	$(function(){

		//新建学生信息
		$("#newProject").click(function(){
			location.href="/admin_student/addStudent"
		});

		//每页显示多少条数据
		$("#numsize").change(function(){
			var numsize=$("#numsize").val();
			var condition=$("#condition").val();
			var type=$("#selectType").val();
			QueryClass(1,numsize,type,condition);
		});


		//查询学生信息
		$("#query_btn").click(function(){
			var numsize=$("#numsize").val();
			var type=$("#selectType").val();
			var condition=$("#condition").val();
			QueryStudent(1,numsize,type,condition);
		})



	})
	//页面初始化
	QueryStudent(1,5,"","");



	//动态添加页面，并实现分页
	function QueryStudent(pageNum, pageSize,type,condition) {

		var sendData = {
			name : condition,
			pageNum : pageNum,
			pageSize : pageSize,
			type:type
		}
		$.ajax({
					type : "post",
					data : sendData,
					dataType : "json",
					url : "/admin_student/getStudentInfo",
					success : function(data) {
						$("#total").html(data.total);
						var html = "";
						var list = data.list;
						
						if (list.length > 0) {
							for (var i = 0; i < list.length; i++) {
								html += '<tr>' + 
								'<td>' + list[i].studentId + '</td>' +
								'<td>' + list[i].name + '</td>' +
								'<td>' + list[i].gender + '</td>' +
								'<td>' + list[i].department + '</td>' +
								'<td>' + list[i].gradeId + '</td>' +
								'<td>' + list[i].major + '</td>' +
								'<td>' + list[i].classId + '</td>' +
								'<td class="col-md-1">'+
								'<a href="javascript:;"  class="showStudentDetail" data-id="'+list[i].studentId+'">查看</a>&nbsp;|&nbsp;'+
								'<a href="javascript:;" style="color:#D9534F" data-id="'+list[i].studentId+'" class="deleteStudent">删除</a></td>'+
								'</tr>';
							}//end for
						} else {
						layer.msg("没有搜索到您要查看的信息");
						}
						// 分页标签
						if (list.length > 0) {
							var html2 = "<li><button style='width:60px;text-align: center' id='prepage'>上一页</button>"
									+ "</li><li id='firstPage'><button>1</button></li>";
							
							for (var i = 1; i < data.pages; i++) {
								html2 += '<li id=btn' + (i + 1) + '><button>'
										+ (i + 1) + '</button></li>';
							}
							
							html2 += '<li><button style="width:60px;text-align: center" id="nextpage">下一页</button></li>';
						}

						$("#pageul").empty().append(html2);
						$("#mytable tbody").empty().append(html);

						//显示学生详细信息
						$(".showStudentDetail").click(function(){
							var id=$(this).data("id");
							location.href="/admin_student/showStudentDetail/"+id;
						});
						//删除学生信息
						$(".deleteStudent").click(function(){
							var id=$(this).data("id");
							layer.msg("删除成功");
							location.href="/admin_student/deleteStudentInfo/"+id;

						});

						//上一页
						$("#prepage").off().click(function() {
									if (data.isFirstPage == true) {

									layer.msg("当前已是首页");
									} else {
										QueryStudent(data.pageNum - 1,
												data.pageSize,type, condition);
									}
								});

						//下一页
						$("#nextpage").off().click(function() {
									if (data.isLastPage == true) {
										layer.msg("当前已是尾页");
									} else {
										QueryStudent(data.pageNum + 1,
												data.pageSize,type, condition);
									}
								});
						//第一页
						$("#firstPage").off().click(function() {
							if (data.isFirstPage == true) {
								layer.msg("当前已是首页");
							} else {
								QueryStudent(1, data.pageSize,type, condition);
							}
						});
						//2,3,4..... 注意闭包问题
						for (var i = 1; i < data.pages; i++) {
							(function(arg) {
								$("#btn" + (arg)).off().click(function() {
									QueryStudent(arg, data.pageSize,type, condition);
								});
							})(i + 1);
						}

					},//end success
					error:function(){
						alert("哪儿出错了呢！");
					}
				});//end ajax
	}
	



</script>

</html>
