<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/web/base.css">

<style type="text/css">

/*td {
	width:200 !important;
}*/
.tdwidth{
	min-width:120px;
}
.imgs{
	width:125px;
	height:165px;
}
</style>

</head>

<body>
<div align="center" style=" margin-left:2%; margin-right:2%;">
<form action="doAddteacher" method="post" >
<table class="table table-bordered">

<tr>
	<td class="tdwidth" style="width: 120px;">职工号：</td>
	<td > <%=teacherInfo.teacherId%></td>
	<td class="tdwidth" style="width:120px;">身份证号：</td>
	<td><%=teacherInfo.IdCard%></td>
	<td class="tdwidth" style="width:150px !important;">电话号码：</td>
	<td><%=teacherInfo.phoneNo%></td>
	<!--教师证件照照片-->
	<%if(teacherInfo.teacherPhoto){%>
	<td rowspan="5" style="width:180px;" align="center" valign="middle"><img src="../../uploadimages/teachers/<%=teacherInfo.teacherPhoto%>" class="imgs"></td>
	<%}else{%>
	<td rowspan="5" style="width:180px;" align="center" valign="middle"><img src="../../images/default_head.jpg" class="imgs"></td>
	<%}%>
	</tr>

<tr>
	<td>姓名：</td>
	<td><%=teacherInfo.name%></td>
	<td>曾用名：</td>
	<td><%=teacherInfo.usedname%></td>
	<td>性别：</td>
	<td>
		<% if(teacherInfo.gender=='女'){%>
		<input type="radio" name="gender" value="男"/>男
		<input type="radio" name="gender" value="女" checked="checked" />女
		 <%}%>

		<% if(teacherInfo.gender=='男'){%>
		<input type="radio" name="gender" value="男" checked="checked" />男
		<input type="radio" name="gender" value="女"/>女
		 <%}%>
	</td>
</tr>

<tr >
	<td >出生年月：</td>
	<td ><%=teacherInfo.birthday%></td>
	<td> 民族：</td>
	<td ><%=teacherInfo.national%></td>

	<td>政治面貌：</td>
	<td><%=teacherInfo.politicalLandscape%></td>
</tr>

<tr >
	<td >邮箱：</td>
	<td ><%=teacherInfo.e_mail%></td>
	<td>学历：</td>
	<td><%=teacherInfo.education%></td>
	<td>学位：</td>
	<td><%=teacherInfo.degree%> </td>
</tr>
<tr >
	<td>毕业院校：</td>
	<td><%=teacherInfo.originSchool%></td>
	<td >职务：</td>
	<td ><%=teacherInfo.office%></td>
	<td>职称：</td>
	<td><%=teacherInfo.title%></td>
</tr>
<tr >
	<td >所属学院：</td>
	<td ><%=teacherInfo.faculty%></td>
	<td>学科方向：</td>
	<td><%=teacherInfo.direction%></td>
	<td>主修方向：</td>
	<td><%=teacherInfo.major%></td>
</tr>
</tr>

<tr>
	<td>教师资格证：</td>
	<td><%=teacherInfo.teacherNo%></td>
	<td>人事职工号：</td>
	<td><%=teacherInfo.employeeNo%></td>
	<td>是否实验室人员：</td>
	<td>
	<% if(teacherInfo.labMan==true){ %>
	是
	<% }else{%>
	否
	<%}%>
	</td>
</tr>
<!--<tr>
	<td> 所属系别：</td>
	<td> <%=teacherInfo.department%> </td>
</tr>-->
</table>

<input type="button" class="btn btn-theme" value="修改" id="modify" >
<input type="button" class="btn btn-theme-cancel" value="返回" id="back">

</form>
</div>
<%if(message !=null){%>
<input type="hidden" id="getMessage" value="<%=message%>">
<%}%>
<script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/layer/layer.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">



$(function(){
	var message=$("#getMessage").val();
	if (message!=null &&message!=''){
		parent.layer.msg(message);
	}
	$("#back").click(function(){
		location.href='/admin_teacher/getTeacher';
	});
	$("#modify").click(function(){
		var id = "<%=teacherInfo._id %>";
		location.href="/admin_teacher/modifyTeacherInfo/"+id;
	})
});



</script>

</body>

</html>